<% @posts.each do |post| %>
    <h1><%= link_to post.title, post %></h1>
    <p><%= post.content %></p>
    <br>
    <p><%= link_to 'Make a comment', controller: "comments", action: "new", post_id: post.id %><p>
<% end %>
<br><br>
<h3><%= link_to 'Create a post', controller: "posts", action: "new" %></h3>