<div class="container">
    <% @posts.each do |post| %>
        <div class="card bg-light">
            <div class="card-title">
                <h1 class="display-3 m-5 p-2 text-center"><%= link_to post.title, post %></h1>
            </div>
            <div class="card-body">
                <p class="text-justify"><%= post.content %></p>
            </div>
            <div class="card-footer">
                <p class="float-right"><%= link_to '<button class="btn btn-primary btn-sm ">Make a comment</button>'.html_safe, controller: "comments", action: "new", post_id: post.id %><p>
            </div>
        </div>
    <% end %>
    <br><br>
    <%= link_to '<button class="btn btn-primary btn-lg btn-block">Create a post</button>'.html_safe, controller: "posts", action: "new"%>
</div>